@media screen and (max-width: 650px){
	h1 {
		font-size: 40px;
	}
	#sizePicker {
		font-size: 20px;
	}
}
@media screen and (max-width: 550px){
	input[type=number] {
		width: 1.5em;
}
@media screen and (max-width: 360px){
	#sizePicker {
		font-size: 15px;
		width: 90%;
		padding-left: 10px; ;
	}
	
}
@media screen and (max-width: 320px){
	#sizePicker {
		width: 100%;
	}
}